.Menubar {
  height: 50px;
  padding: 0 8px;
  transition: background-color 0.2s linear;
}

#menubarDropdownButton {
  transition: background-color 0.2s linear;
}

.Menubar-dropdown-content {
  display: none;
}

.Menubar-dropdown:hover .Menubar-dropdown-content {
  display: block;
}